<?php  if ( ! defined('CONFIG')) exit('No direct script access allowed');


#################################
#                               #
#        General Config         #
#                               #
#################################

// Web Page Title
$config['page_title'] = 'HDHR TV';

// HDHR Type
// Set the box type, either to the
// newer DLNA boxes or the old legacy,
// non-DLNA boxes. If set as a DLNA box,
// streaming over http will be used.
// If a legacy box is used, note that
// hdhomerun_config MUST be installed on
// the server and executable by the webserver
// in order to stream.
// $config['hdhr_type'] = [dlna | legacy]
$config['hdhr_type'] = 'dlna';

// IP address of tuner
$config['hdhr_ip'] = '192.168.1.20';

// HTTP port to connect to tuner.
// This is only for DLNA boxes.
$config['hdhr_port'] = '5004';

// Set HDHR tuner
// This can be tuner0, tuner1, tuner2, or auto.
// Only the DLNA tuners can be set to auto.
// Note that if MythTV is being used, MythTV
// won't lock the HDHR tuner, so conflicts could
// exist between MythTV and anything else, such as
// this streaming app, that tries to access the HDHR.
// If using MythTV, set this to the highest tuner
// and hope that MythTV will only use the lower tuner(s).
// If not using MythTV and this is a DLNA tuner,
// set this to auto.
//
// $config['hdhr_tuner'] = [tuner0 | tuner1 | tuner2 | auto]
$config['hdhr_tuner'] = 'tuner0';

// Allow user to set tuner.
// If true, this will allow the user to set
// the tuner in the user settings of the web app.
// Understand the risk in allowing this.
// See comments above.
// $config['user_tuner'] = [true | false]';
$config['user_tuner'] = true;

// Enable MythTV listings to be used.
// The user will be able to choose between
// MythTV listings or HDHR generic listings
// if this is enabled. If not, only the 
// HDHR generic listing will be used.
// $config['enable_mythtv'] = [true | false];
$config['enable_mythtv'] = false;

// Define the hdhomerun_config binary
// location. Include the full path as necessary.
$config['hdhr_utility'] = 'hdhomerun_config';

// Set the command to reboot the HDHomeRun.
$config['hdhr_reboot_cmd'] = "{$config['hdhr_utility']} {$config['hdhr_ip']}  set /sys/restart self";

// Allow rebooting of the HDHomeRun
$config['enable_reboot'] = true;

// Define the output type for ffmpeg to stream
// via http. The passthru option will use a simple
// php passthru() function to stream the flv output
// of ffmpeg to the browser/Flowplayer. The other
// option is buffer which 
// $config['output_type'] = [passthru | buffer];
$config['output_type'] = 'passthru';

// This setting determines if errors should
// be displayed in the browser.
$config['debug'] = false;

// MythtTV database settings if MythTV
// listings are to be used.
$config['mythtv_server'] = 'localhost';
$config['mythtv_db'] = 'mythconverg';
$config['mythtv_user'] = 'mythtv';
$config['mythtv_pass'] = 'mythtv';

// PHP executable command.
// This will only be used to run
// a channel scan for legacy devices.
// This could simply be 'php' if the
// executable is in the path of the
// web server. Or it could be the full
// path, such as /usr/bin/php if
// needed.
$config['php'] = 'php';


#################################
#                               #
#        FFmpeg Config          #
#                               #
#################################

// Define the ffmpeg binary location.
// Include the full path as necessary,
// such as /usr/bin/ffmpeg or
// /usr/local/bin/ffmpeg. Most of the
// time, straight ffmpeg should work
// as it should be included in the
// defined PATH of the webserver user.
// Customize as necessary for any
// custom ffmpeg installations.
// Verify any custom installations
// can be run by the webserver user.
$config['ffmpeg_cmd'] = 'ffmpeg';

// If this setting is configured, ffmpeg
// transcoding will be offloaded via ssh
// to a remote machine. Leave blank to
// disable. Note tha certifcates should
// be set up for the user which the web
// server is running as.
//
// $config['remote_ssh'] = 'user@remote_machine';
$config['remote_ssh'] = '';

// The following are ffmpeg options.
// These options are placed after the binary and the
// input stream.
// i.e. ffmpeg -y -i stream {options}
// The variable name is placed in the user setting array,
// named, and in turn selected by the user. 

// This is the original ffmpeg command used during development.
// This is similar to the transoding command used by MythWeb.
// This creates a standard flv stream using the sorenson codec.
// This cannot be multithreaded so it most likely won't work
// very well for HD video.
$ffmpeg_opts['flv'] = "-threads 0"
		." -g 30"
		." -f flv"
		." -async 2"
		." -ac 2"
		." -ar {asamp}"
		." -b:a {abr}"
		." -vf {deint}"
		."scale=\"{size}\""
		." -b:v {vbr}";

// This command transcodes to h264 video, mp3 audio,
// and places in an flv container. The libx264 library
// can be multithreaded which is better suited for HD video.
$ffmpeg_opts['h264'] = "-threads 0"
		." -f flv"
		." -vf {deint}"
		."scale=\"{size}\""
		." -pix_fmt yuv420p"
		." -c:v libx264"
		." -preset:v ultrafast"
		." -b:v {vbr}"
		." -c:a libmp3lame"
		." -ac 2"
		." -b:a {abr}"
		." -ar {asamp}"
		." -strict -2";

// Provide an audio-only stream with no video. Use this
// to listen to an NFL playoff game while ice fishing on
// Lake of the Woods, Minnesota with limited mobile bandwith.
$ffmpeg_opts['audio_only'] = "-threads 0"
		." -f flv"
		." -vn"
		." -c:a libmp3lame"
		." -ac 2"
		." -b:a {abr}"
		." -ar {asamp}"
		." -strict -2";


#################################
#                               #
#     User Settings Config      #
#                               #
#################################

// Set the cookie name for storing user settings
define('COOKIE_SETTINGS', 'hdhrtv_settings');

// Set the cookie name for storing user favorites
define('COOKIE_FAVORITES', 'hdhrtv_favorites');

// The following are user settings
// and their respective defaults.
//
// The key => val pairs of the 'selections'
// array will populate the dropdowns in the
// settings page.

// Pull channel data from MythTV or HDHR.
$user_config['listings'] =
	array('selections' => 
		array('mythtv' => 'MythTV',
		      'hdhr' => 'HDHomeRun'),
		'default' => 'hdhr');
	
// Set the link for the play button shown
// on each individual line in the channel list.
$user_config['play_link'] =
	array('selections' => 
		array('flash' => 'Flash Player',
		      'direct' => 'Direct Link'),
		'default' => 'flash');
	
// Set the link for the play button shown
// on each individual line in the channel list.
$user_config['tuner'] =
	array('selections' => 
		array('tuner0' => 'tuner0',
		      'tuner1' => 'tuner1',
		      'tuner2' => 'tuner2',
		      'auto' => 'auto'),
		'default' => 'auto');

// Set the video size either as a defined size or
// scaled to the original source.
$user_config['vid_size'] =
	array('selections' => 
		array('640:480' => '640x480 (4:3)',
		      '480:368' => '480x360 (4:3)',
		      '320:240' => '320x240 (4:3)',
		      '1280:720' => '1280x720 (16:9)',
		      '960:544' => '960x540 (16:9)',
		      '640:368' => '640x360 (16:9)',
		      '320:176' => '320x180 (16:9)',
		      'iw/4*sar:ih/4' => '1/4 scale',
		      'iw/3*sar:ih/3' => '1/3 scale',
		      'iw/2*sar:ih/2' => '1/2 scale',
		      'iw*2/3*sar:ih*2/3' => '2/3 scale',
		      'iw*3/4*sar:ih*3/4' => '3/4 scale',
		      'iw*sar:ih' => 'full scale'),
		'default' => 'iw/2*sar:ih/2');

// Set the video bitrate used by ffmpeg
// to transocde.
$user_config['vid_br'] =
	array('selections' => 
		array('500k' => '500k',
		      '700k' => '700k',
		      '1000k' => '1000k',
		      '1500k' => '1500k',
		      '2000k' => '2000k',
		      '2500k' => '2500k',
		      '3000k' => '3000k',
		      '3500k' => '3500k',
		      '4000k' => '4000k',
		      '4500k' => '4500k',
		      '5000k'=> '5000k'),
		'default' => '1000k');

// Set the audio bitrate used by ffmpeg
// to transocde.
$user_config['aud_br'] =
	array('selections' => 
		array('32k' => '32k',
		      '64k' => '64k',
		      '96k' => '96k',
		      '128k' => '128k',
		      '192k' => '192k'),
		'default' => '32k');

// Set the audio sample rate used by ffmpeg
// to transocde.
$user_config['aud_samp'] =
	array('selections' => 
		array('11025' => '11025',
		      '22050' => '22050',
		      '44100' => '44100',
		      '48000' => '48000'),
		'default' => '11025');

// Enable or disable deinterlacing
$user_config['deint'] =
	array('selections' => 
		array('yadif,' => 'Yes',
		      '' => 'No'),
		'default' => '');

// Set up the transcoding selection.
// This selects from the ffmpeg commands above.
$user_config['transcode'] =
	array('selections' => 
		array('h264' => 'h264/mp3/flv (multithread)',
		      'flv' => 'FLV (no multithread)',
		      'audio_only' => 'Audio Only'),
		'default' => 'h264');
